<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
Boxes to check whether Channel or Geobot should be deleted
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- The Check whether delete channel box
<!------------------------------------------------------------------------------------------------------>
<div class="ui tiny modal" id="deletechannelbox">
    <div class="content">
        Delete Channel <span style="font-style:italic;" id="deletechannelname">name</span>?  There is NO undo.
    </div>
    <div class="actions">
        <div id="deletechannelcancel" class="ui basic button green">Cancel</div>
        <div id="deletechannelok" class="ui basic button red">Delete</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- The Check whether delete Geobot box
<!------------------------------------------------------------------------------------------------------>
<div class="ui tiny modal" id="deletegeobotbox">
    <div class="content">
        Delete Geobot <span style="font-style:italic;" id="deletegeobotname">name</span>?  There is NO undo.
    </div>
    <div class="actions">
        <div id="deletegeobotcancel" class="ui basic button green">Cancel</div>
        <div id="deletegeobotok" class="ui basic button red">Delete</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
