<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
Create Experiences UI boxes
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- The New Experience Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui small modal" id="newexperiencebox">
    <div id="newexperienceboxheader" class="header">
        Create an Experience
    </div>
    <div style="padding:20px; overflow:scroll;">
        <div id="newexperienceboxcontent" class="content">
        </div>
    </div>
    <div class="actions">
        <!-- <div id="newexperienceboxhelp" class="ui basic button blue">Help</div> -->
        <div id="newexperienceboxcancel" class="ui basic button red">Cancel</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- The Mobile New Experience Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui small modal" id="mobilenewexperiencebox">
    <div id="mobilenewexperienceboxheader" class="header">
        Create an Experience using your mobile device (coming soon)
    </div>
    <div style="padding:20px; overflow:scroll;">
        <div id="mobilenewexperienceboxcontent" class="content">
        </div>
    </div>
    <div class="actions">
        <!-- <div id="newexperienceboxhelp" class="ui basic button blue">Help</div> -->
        <div id="mobilenewexperienceboxcancel" class="ui basic button red">Cancel</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- The Create Experience Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui small modal" id="createexperiencebox">
    <div id="createexperienceboxheader" class="header">
        Create a <span id="createexperienceboxtitle"><span>
    </div>
    <div style="padding:20px; overflow:scroll;">
        <div id="createexperienceboxcontent" class="content">
        </div>
    </div>
    <div class="actions">
        <div id="createexperienceboxcancel" class="ui basic button red">Cancel</div>
        <div id="createexperienceboxcreate" class="ui basic button green">Create</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
