<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
Boxes for lists of experiences and favourites
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- The List of Experiences Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui small modal" id="experiencelistbox">
    <div id="experiencelistboxheader" class="header">
        Choose an Experience
    </div>
    <div style="padding:20px; overflow:scroll;">
            <div id="experiencelistboxcontent" class="ui unstackable items"></div>
    </div>
    <div class="actions">
        <div id="experiencelistboxcancel" class="ui basic button red">Cancel</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- The Favourites Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui small modal" id="favouritesbox">
    <div id="favouritesboxheader" class="header">
        Favourite Experiences
    </div>
    <div style="padding:20px; overflow:scroll;">
        <div class="content">
            <div class="ui fluid disabled action input">
                <input id="favouritesboxurl" style="border-color:grey" type="url">
                <div id="favouritesboxadd" class="ui green basic icon button" data-tooltip="Add Experience URL to your Favourites." data-position="bottom right">
                    <i class="plus icon"></i>
                </div>
            </div>
            <div id="favouritesboxcontent" class="ui unstackable items">
            </div>
        </div>
    </div>
    <div class="actions">
        <div id="favouritesboxcancel" class="ui basic button red">Cancel</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
