<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
Webpage footer
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------>
<div id="footer" style="z-index:1000;">
    <div id="footermenu" class="modeindicator   ui bottom borderless menu">
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
