<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
The headers across the top of the main UI for both mobile and desktop
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- The Portal UI
<!------------------------------------------------------------------------------------------------------>
<div class="expanded" id="portalui">
    <div id="uimobilemenu" class="mobilemode modeindicator ui top borderless menu" style="display: none;">
        <div id="uimobiledropdownmenu1" class="mobilemode ui mobileleftdropdown compact dropdown item" >
                <i class="bars icon"></i>
                <div class="borderless menu">
                    <div class="buttons">
                        <div class="item">
                            <div id="fullscreenbuttonmobile" class="mobilemode ui compact icon button" data-tooltip="Toggle between fullscreen and windowed mode" data-position="right center">
                                <i class="expand arrows icon"></i>
                            </div>
                        </div>
                        <div class="item">
                            <div id="desktopbutton" class="mobilemode ui compact icon button" data-tooltip="Desktop mode" data-position="right center">
                                <i class="desktop icon"></i>
                            </div>
                        </div>
                        <!-- <div class="threedee nottwodee   item">
                            <div id="1stpersontoggle" class="ui compact icon button" data-tooltip="Toggle between 1st and 3rd person view" data-position="right center">
                                <i class="eye icon"></i>
                            </div>
                        </div> -->
                        <div class="item">
                            <div id="2D3Dswitch" class="mobilemode ui compact icon button" data-tooltip="Toggle between 2D and 3D" data-position="right center">
                                <i class="map icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div id = "reloadexperiencediv" style="padding-left:0px; padding-right:0px;" class="mobilemode item">
            <div id="reloadexperiencebutton" class="mobilemode ui green basic icon button" data-tooltip="Reload Experience" data-position="bottom left">
                <i class="sync alt icon"></i>
            </div>
        </div>
        <div id="mobileurlinputdiv" style="padding-left:10px; padding-right:10px;" class="mobilemode item">
            <div class="mobilemode ui icon input">
                <input id="mobileurlinput" style="border-color:grey" placeholder="Experience URL" type="url">
                <i id="mobileurlinputicon" class="plug link icon grey"></i>
            </div>
        </div>
        <div id = "createexperiencediv" style="padding-left:0px; padding-right:0px;" class="mobilemode item">
            <div id="createexperiencebutton" class="mobilemode ui green basic icon disabled button" data-tooltip="Create or add to an Experience" data-position="bottom right">
                <i class="pencil alt icon"></i>
            </div>
        </div>
        <div id="uimobiledropdownmenu2" class="mobilemode mobilerightdropdown ui compact dropdown item">
            <i id="uimobiledropdownmenu2icon" class="mobilemode smile icon basic"></i>
            <div class="borderless menu">
                <div class="buttons">
                    <div class="item">
                        <div id="loginmobilebutton" class="mobilemode ui compact icon button" data-tooltip="Log in" data-position="left center">
                            <i class="smile icon basic"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div id="favouritesbutton" class="mobilemode ui compact icon button" data-tooltip="Load or add to Favourite Experiences" data-position="left center">
                            <i class="star icon basic"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div id="aroundherebutton" class="mobilemode ui compact icon button" data-tooltip="Find Experiences around here" data-position="left center">
                            <i class="map marker alt icon"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div id="qrcodebutton" class="mobilemode ui compact icon button" data-tooltip="Scan QR code to open Experience" data-position="left center">
                            <i class="qrcode icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------------------------------------->
    <div id="uidesktopmenu" class="notmobilemode modeindicator ui top borderless menu" style="display: none;">
        <div class="twodee threedee notplaying notloggedin   item">
            <div id="chooserbutton" class="ui grey icon basic button" data-tooltip="Open and close the chooser panels" data-position="bottom left">
                <i class="bars icon"></i>
            </div>
        </div>
        <div class="twodee threedee notplaying   item">
            <div id="login" class="ui blue icon button basic" data-tooltip="Log in" data-position="bottom left">
                <i class="sign in alt icon" id="loginbuttonicon"></i>
            </div>
        </div>
        <div class="twodee threedee notplaying notloggedin   item">
            <div class="ui buttons">
                <button id="fullscreenbuttondesktop" class="ui icon grey button basic" data-tooltip="Toggle between fullscreen and windowed mode" data-position="bottom center">
                    <i class="expand arrows icon"></i>
                </button>
                <button id="mobilebutton" class="ui icon grey button basic" data-tooltip="Mobile mode" data-position="bottom center">
                    <i class="mobile icon"></i>
                </button>
            </div>
        </div>
        <div class="twodee threedee notplaying notloggedin   item">
            <div class="ui buttons">
                <button id="guidedmodebutton" class="ui icon grey button" data-tooltip="Guided mode" data-position="bottom center">
                    <i class="wizard icon"></i>
                </button>
                <button id="expertmodebutton" class="ui icon grey button basic" data-tooltip="Expert mode" data-position="bottom center">
                    <i class="list icon"></i>
                </button>
                <button id="analyticsmodebutton" class="ui icon grey button basic" data-tooltip="Analytics mode" data-position="bottom center">
                    <i class="chart pie icon"></i>
                </button>
            </div>
        </div>
        <div class="twodee threedee notplaying notloggedin   item">
            <div class="ui buttons">
                <button id="twodeebutton" class="ui icon button grey" data-tooltip="Use 2D maps" data-position="bottom center">
                    2D
                </button>
                <button id="threedeebutton" class="ui icon button grey basic" data-tooltip="Use 3D maps" data-position="bottom center">
                    3D
                </button>
            </div>
        </div>
        <div class="nottwodee threedee notloggedin   item" id="playbuttons">
            <div class="ui buttons">
              <button id="playbutton" class="ui icon button grey basic" data-tooltip="Play animations and interactions" data-position="bottom center">
                  <i class="play icon"></i>
              </button>
              <button id="stopbutton" class="ui icon button red basic" data-tooltip="Stop playing" data-position="bottom center">
                  <i class="stop icon"></i>
             </button>
            </div>
        </div>
        <div class="right menu">
            <div class="twodee threedee notplaying notloggedin   ui dropdown maptype grey basic item">
                <div data-tooltip="Choose map style" data-position="bottom center">
                    Map Type
                    <i class="dropdown icon"></i>
                </div>
                <div id="maptype" class="menu">
                    <a class="twodee threedee      item" data-value="com.mapbox.streets">Mapbox Streets</a>
                    <a class="twodee threedee      item" data-value="com.mapbox.light">Mapbox Light</a>
                    <a class="twodee threedee      item" data-value="com.mapbox.dark">Mapbox Dark</a>
                    <a class="twodee threedee      item" data-value="com.mapbox.outdoors">Mapbox Outdoors</a>
                    <a class="twodee threedee      item" data-value="com.mapbox.satellite">Mapbox Satellite</a>
                    <a class="nottwodee threedee   item" data-value="com.stamen.watercolor">Water Color</a>
                    <a class="nottwodee threedee   item" data-value="com.imersia.blank">Blank</a>
                </div>
            </div>
            <div class="twodee threedee notplaying notloggedin   ui dropdown recentre grey basic item">
                <div data-tooltip="Recentre on ..." data-position="bottom center">
                    Recentre
                    <i class="dropdown icon"></i>
                </div>
                <div id="recentre" class="menu">
                    <a class="item" data-value="location">On Location</a>
                    <a class="item" data-value="channel">On Channel</a>
                </div>
            </div>
            <div class="nottwodee threedee notplaying notloggedin   ui dropdown avatar grey basic item">
                <div data-tooltip="Choose avatar" data-position="bottom center">
                    Avatar
                    <i class="dropdown icon"></i>
                </div>
                <div id="avatar" class="menu">
                    <a class="item" data-value="male">Male</a>
                    <a class="item" data-value="female">Female</a>
                </div>
            </div>
            <!-- <div class="twodee threedee notplaying notloggedin   item">
                <div id="companionbutton" class="ui right icon grey button basic" data-tooltip="Open and close the companion panel" data-position="bottom right">
                    <i class="bars icon" id="companionbuttonicon"></i>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
