<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
UI for instructing Geobots
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- The Instruct Geobot Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui small modal" id="instructbox">
    <div id="instructheader" class="header">
        Instruct Geobot
        <div class="ui right floated buttons">
            <button id="instructguided" class="ui icon grey button" data-tooltip="Guided mode" data-position="bottom center">
                <i class="wizard icon"></i>
            </button>
            <button id="instructexpert" class="ui icon grey button basic" data-tooltip="Expert mode" data-position="bottom center">
                <i class="list icon"></i>
            </button>
        </div>
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="eight wide column">
                <div id="instructautomationbuttons" class="content ui left floated buttons">
                </div>
            </div>
            <div class="eight wide column">
                <div class="content ui right floated buttons">
                    <button class="ui button basic blue" id="instructnewautomation">new</button>
                    <button class="ui button basic red" id="instructdeleteautomation">delete</button>
                </div>
            </div>
        </div>
        <table id="instructautomationtable" class="ui celled table">
            <thead>
                <tr>
                    <th style="text-align:center" class="three wide">
                        <div id="instructnewtransition" class="ui basic button blue">Add</div>
                    </th>
                    <th style="text-align:center" class="four wide">State</th>
                    <th style="text-align:center" class="four wide">Event</th>
                    <th style="text-align:center" class="four wide">New State</th>
                    <th style="text-align:center" class="one wide">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="instructautomationjsondiv" >
            <div id="instructautomationjson" style="width:100%; height:400px;">
            </div>
        </div>
    </div>
    <div class="actions">
        <div id="instructhelp" class="ui basic button blue">Help</div>
        <div id="instructcancel" class="ui basic button red">Cancel</div>
        <div id="instructok" class="ui basic button green">Save</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- The Instruct Geobot Help Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui small modal" id="instructhelpbox">
    <div class="header">
        Instruct Geobot Help
    </div>
    <div class="content">
        <div class="image content">
          <img class="ui fluid image" src="images/FSM.png">
          <div class="ui divider"></div>
          <div class="description">
            Geobots are programmed using 'Automations', also sometimes called 'Finite State Machines'.  These are a way of describing the different 'states' that something can be in, and what happens when they change from one state to another.  The above example is a light switch.
            <div class="ui divider"></div>
            This Automation can either be in the states 'init', 'on' or 'off',
                and you can either 'turnon' or 'turnoff' the switch, depending on what state it currently is in.  These are 'Transitions'.  Note that all Automations
                start in the 'init' state.
                <div class="ui divider"></div>
                When you 'turnon' the switch, that in turn
                signals the bulb to 'gobright', and likewise, when you 'turnoff' the switch, the bulb is signalled to 'godark'.  These are Actions.  The bulb Automation
                might be on the same or a different Geobot.
                <div class="ui divider"></div>
                Geobots can have any number of Automations, and each Automation can have any number of Transitions.  Each Transition can have any number of Actions.
                There are many different types of Action.
                <div class="ui divider"></div>
                You can read more about <a href="https://en.wikipedia.org/wiki/Finite-state_machine">Finite State Machines on wikipedia</a>.
          </div>
        </div>
    </div>
    <div class="actions">
        <div id="instructhelpdone" class="ui basic button green">Done</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- The Actions Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui wide modal" id="actionsbox">
    <div class="header">
        Actions
    </div>
    <div class="content">
        <table id="actionstable" class="ui celled table">
            <thead>
                <tr>
                    <th style="text-align:center" class="one wide">
                        <div id="actionsnewaction" class="ui fluid basic button blue">Add</div>
                    </th>
                    <th style="text-align:center" class="two wide">Action</th>
                    <th style="text-align:left">Parameters</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="actions">
        <div id="actionsok" class="ui basic button green">Done</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- The Select New Action Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui small modal" id="selectactionbox">
    <div class="header">
        Select Action
    </div>
    <div class="content">

        <table class="ui celled table" id="selectactiontable">
            <thead>
                <tr>
                    <th style="text-align:center" class="two wide">Action</th>
                    <th style="text-align:center" class="four wide">Description</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="actions">
        <div id="selectactioncancel" class="ui basic button red">Cancel</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- The Edit Transition box
<!------------------------------------------------------------------------------------------------------>
<div class="ui tiny modal" id="transitioneditbox">
    <div class="header">
        Edit Transition
    </div>
    <div class="content">
        <div class="grid">
            <div class="ui fluid labeled input">
                <div class="ui label" style="width:30%">state</div>
                <input id="transitioneditstate" placeholder="Starting State" type="text" >
            </div>
            Any text to represent a state, or '*' to match all states, eg: 'on' or 'off'.  An automation always starts in the 'init' state.
            <div class="ui divider"></div>
            <div class="ui fluid labeled input">
                <div class="ui label" style="width:30%">event</div>
                <input id="transitioneditevent" placeholder="Event to cause a State change" type="text">
            </div>
            Any text to represent an event, eg: 'turnon' or 'turnoff'.  The first event to fire when an automation starts is the 'start' event.
            <div class="ui divider"></div>
            <div class="ui checkbox">
                <input id="transitioneditvisible" type="checkbox">
                <label>Make this event visible as a selectable command to users of the WebApp</label>
            </div>
            <div class="ui divider"></div>
            <div class="ui fluid labeled input">
                <div class="ui label" style="width:30%">new state</div>
                <input id="transitioneditnewstate" placeholder="State to change to" type="text">
            </div>
            Any text to represent the state to change to, eg: 'on' or 'off'.
        </div>
    </div>
    <div class="actions">
        <div id="transitioneditcancel" class="ui basic button red">Cancel</div>
        <div id="transitioneditok" class="ui basic button green">Done</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- The New Automation Name box
<!------------------------------------------------------------------------------------------------------>
<div class="ui tiny modal" id="automationnamebox">
    <div class="header">
        Name of Automation
    </div>
    <div class="content">
        <div class="grid">
            <div class="ui medium form">
                <div class="field">
                    <input id="automationnamename" placeholder="Automation Name" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div id="automationnamecancel" class="ui basic button red">Cancel</div>
        <div id="automationnameok" class="ui basic button green">Save</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
