<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
The login box for logging people into either the local system or the global companion manager
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- The Login box
<!------------------------------------------------------------------------------------------------------>
<div class="ui tiny modal" id="loginbox">
    <div class="content">
        <img class="ui medium image centered" src="images/logosmall.png">
        <div class="ui center aligned header grey">
            <span id="loginboxmessage"></span>
        </div>
        <div class="ui divider"></div>
        <div class="grid">
            <div class="ui medium form">
                <div class="field">
                    <input id="loginemail" placeholder="Email Address" type="text">
                </div>
                <div class="field">
                    <input id="loginpassword" placeholder="Password" type="password">
                </div>
            </div>
        </div>
    </div>
    <div class="actions" style="padding-left: 1.5em; padding-right: 1.5em;">
        <div class="ui two column grid">
            <div class="row">
                <div class="column">
                    <div id="logincancel" class="ui fluid basic button blue">Cancel</div>
                </div>
                <div class="column">
                    <div id="loginok" class="ui fluid basic button green">Log in</div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div id="loginokglobal" class="ui disabled fluid inverted basic grey button">
                        <span style="color:grey;">Global login</span>
                    </div>
                </div>
                <div class="column">
                    <div id="loginregister" class="ui fluid inverted basic grey button">
                        <span style="color:grey;">Register</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="loginokglobal" class="ui disabled basic button grey">Log in (global)</div> -->
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
