<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
Simple message box for feedback to the user
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- The Message Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui tiny modal" id="messagebox">
    <div class="content">
        <span id="messageboxmessage"></span>
    </div>
    <div class="actions">
        <div id="messageboxcancel" class="ui basic approve button blue">OK</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
