<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
UI for editing and deleting metadata
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- The Edit Metadata box
<!------------------------------------------------------------------------------------------------------>
<div class="ui tiny modal" id="editmetadatabox">
    <div class="content">
        Edit Metadata - change the Key or Value.  Don't forget to save the Geobot...
        <div class="ui divider"></div>
        <div class="grid">
            <div class="ui fluid labeled input">
                <div class="ui label" style="width:30%">Key</div>
                <input id="editmetadatakey" placeholder="Key" type="text">
            </div>
            <div class="ui divider"></div>
            <div class="ui fluid labeled icon input">
                <div class="ui label" style="width:30%">Value</div>
                <input id="editmetadatavalue" placeholder="Value" type="text">
                <i id="editmetadataeditvalue" class="edit link icon"></i>
            </div>
            <div id="editmetadatajsondiv" >
                <div id="editmetadatajson" style="width:100%; height:400px;">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div id="editmetadatacancel" class="ui basic button blue">Cancel</div>
        <div id="editmetadataok" class="ui basic button green">Change</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- The Check whether delete Metadata box
<!------------------------------------------------------------------------------------------------------>
<div class="ui tiny modal" id="deletemetadatabox">
    <div class="content">
        <span id="deletemetadatamessage">name</span> Metadata <span style="font-style:italic;" id="deletemetadatakey">name</span>?  Don't forget to save the <span id="deletemetadatatype"></span>...
    </div>
    <div class="actions">
        <div id="deletemetadatacancel" class="ui basic button green">Cancel</div>
        <div id="deletemetadataok" class="ui basic button red">Delete</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
