<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
Holder for maps and other key UI elements
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- Other stuff not in the sidebars
<!------------------------------------------------------------------------------------------------------>
<div class="pusher">
    <div id="threedmap"></div>
    <div id="twodmap"></div>
    <div id="popup" style="text-align:center"></div> <!-- Geobot info -->
    <div id="imersialogodiv"><img id="imersialogo" src="images/logo.png"/></div>
    <div id="imersiaversiondiv"></div>
    <img id="uimobiletopbanner" src="" class="mobilemode" style="position:fixed; top:50px; left:0px; width:100%;" />
    <img id="uimobilebottombanner" src="" class="mobilemode" style="position:fixed; bottom:0px; left:0px; width:100%;" />
    <input id="hidden_fileinput" type="file" style="visibility:hidden; height:0px; width:0px;"/>
</div>
<!------------------------------------------------------------------------------------------------------>
