<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
QR Code reader UI
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------>
<div class="ui large modal" id="previewbox">
    <div class="header">
        Scan QR Code
    </div>
    <div class="content">
        <video style="width:100%; height:100% "id="preview"></video>
    </div>
    <div class="actions">
        <div id="previewboxcancel" class="ui basic button red">Cancel</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
