<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
The Register new user on this MR Server UI
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- The Register new user box
<!------------------------------------------------------------------------------------------------------>
<div class="ui tiny modal" id="registerbox">
    <div class="content">
        <img class="ui medium image centered" src="images/logosmall.png">
        <div class="ui divider"></div>
        <div class="grid">
            <div class="ui medium form">
                <div class="field">
                    <input id="registeremail" placeholder="Email Address" type="text">
                </div>
                <div class="field">
                    <input id="registerpassword" placeholder="Password" type="password">
                </div>
                <div class="field">
                    <input id="registerpassword2" placeholder="Password (again)" type="password">
                </div>
                <div class="field">
                    <input id="registerfirstname" placeholder="First name" type="text">
                </div>
                <div class="field">
                    <input id="registersurname" placeholder="Surname" type="text">
                </div>
                <div class="field">
                    <input id="registernickname" placeholder="Nickname" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="actions" style="padding-left: 1.5em; padding-right: 1.5em;">
        <div class="ui two column grid">
            <div class="row">
                <div class="column">
                    <div id="registercancel" class="ui fluid basic button blue">Cancel</div>
                </div>
                <div class="column">
                    <div id="registerok" class="ui fluid basic button green">Register</div>
                </div>
            </div>
        </div>
        <!-- <div id="registerokglobal" class="ui disabled basic button grey">Register (global)</div> -->
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
