<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
All the sidebars
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- Experience list Sidebar
<!------------------------------------------------------------------------------------------------------>
<div class="ui wide left sidebar experiencelistsidebar">
    <div class="inspectorpanel" id="experiencelistpanel">
        <div class="inspectorheader" id="experiencelistheader">
            experiences
            <button class="ui basic tiny icon button" id="experiencesreload">
                <i class="refresh icon"></i>
            </button>
        </div>
        <div class="ui segment">
             <div class="ui one top attached buttons buttonbackground">
                <div id="newexperiencebutton" class="ui basic blue button">New</div>
            </div>
        </div>
        <div class="ui two link cards" id="experiencelistoutput"></div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- Channel list Sidebar
<!------------------------------------------------------------------------------------------------------>
<div class="ui wide left sidebar channellistsidebar">
    <div class="inspectorpanel" id="channellistpanel">
        <div class="inspectorheader" id="channellistheader">
            channels
            <button class="ui icon basic tiny button" id="channelsreload">
                <i class="refresh icon"></i>
            </button>
        </div>
        <div class="ui segment">
            <div class="ui three top attached buttons buttonbackground">
                <div id="editchannelbutton" class="ui green button basic buttonselect">Edit</div>
                <div id="deletechannelbutton" class="ui red button basic">Delete</div>
                <div id="viewchannelbutton" class="ui blue button basic">View</div>
            </div>
            <div class="ui two top attached buttons buttonbackground">
                <div id="newchannelbutton" class="ui blue button basic">New Channel</div>
                <div id="newgeobotbutton" class="ui blue button basic">New Geobot</div>
            </div>
        </div>
        <div class="ui items attached" id="channellistoutput"></div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- Analytics Sidebar
<!------------------------------------------------------------------------------------------------------>
<div class="ui wide left sidebar analyticssidebar">
    <div class="inspectorpanel" id="analyticspanel">
        <div class="inspectorheader" id="analyticsheader">
            analytics
        </div>
        <div class="ui segment">
        </div>
        <div class="ui items attached" id="analyticsoutput">Coming soon ...</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- Companion Sidebar
<!------------------------------------------------------------------------------------------------------>
<div class="ui wide right sidebar companionsidebar">
    <div class="inspectorpanel" id="companionpanel">
        <div class="inspectorheader" id="companionheader">
            <button class="ui icon basic tiny button borderless">
                <i class="smile icon basic"></i>
            </button>
            companion
        </div>
        <div class="ui segment">
            <div class="ui top two buttons buttonbackground attached">
                <div id="companion_clear" class="ui basic blue button">clear</div>
            </div>
            <div id="companioninput_div">
                <div class="ui medium form">
                    <div class="field">
                        <input id="companioninput" placeholder="Type an event to send to the Geobot" type="text">
                        <input id="companioninputparameters" placeholder="(optional parameters in JSON)" type="text">
                    </div>
                    <div style="text-align:center;">or send a command to the Geobot</div>
                    <div id="companioncommandbuttons">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui feed attached" id="companionoutput"></div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- Geobot Sidebar
<!------------------------------------------------------------------------------------------------------>
<div class="ui wide right sidebar geobotsidebar">
    <div class="inspectorpanel" id="geobotpanel">
        <div class="inspectorheader" id="geobotheader">
            geobot
            <button class="ui icon basic tiny button" id="geobotreload">
                <i class="refresh icon"></i>
            </button>
        </div>
        <div class="ui segment expertmode notguidedmode notstatsmode">
            <div class="ui three top attached buttons buttonbackground">
                <div id="geoboteditbutton" class="ui basic green button">Edit</div>
                <div id="deletegeobotbutton" class="ui basic red button">Delete</div>
                <div class="geobotviewbutton ui basic blue button">View</div>
            </div>
            <div class="ui two top attached buttons buttonbackground">
                <div id="geobotinstructbutton" class="ui basic blue button">Instruct</div>
                <div class="geobotsendcommandbutton ui basic blue button">Send Command</div>
            </div>
        </div>
        <div class="ui segment notexpertmode guidedmode notstatsmode">
            <div class="ui two top attached buttons buttonbackground">
                <div class="geobotviewbutton ui basic blue button">View</div>
                <div class="geobotsendcommandbutton ui basic blue button">Send Command</div>
            </div>
        </div>
        <div class="ui cards attached" id="geobotoutput"></div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- Geobot Edit Sidebar
<!------------------------------------------------------------------------------------------------------>
<div class="ui wide right sidebar geoboteditsidebar">
    <div class="inspectorpanel" id="geoboteditpanel">
        <div class="inspectorheader" id="geoboteditheader">
            edit geobot
        </div>
        <div class="ui segment">
            <div class="ui top attached buttons buttonbackground">
                <div id="savegeobotbutton" class="ui basic green button">Save</div>
            </div>
        </div>
        <div class="ui secondary pointing menu" id="geobotedittabs">
            <a class="item active" data-tab="geobotedittab1">Main</a>
            <a class="item" data-tab="geobotedittab2">Class</a>
            <a class="item" data-tab="geobotedittab3">Audio</a>
            <a class="item" data-tab="geobotedittab4">Data</a>
            <a class="item" data-tab="geobotedittab5">Files</a>
        </div>
        <div class="ui tab active" data-tab="geobotedittab1"><div class="ui form" id="geoboteditmain"></div></div>
        <div class="ui tab" data-tab="geobotedittab2"><div class="ui form" id="geoboteditclass"></div></div>
        <div class="ui tab" data-tab="geobotedittab3"><div class="ui form" id="geoboteditaudio"></div></div>
        <div class="ui tab" data-tab="geobotedittab4"><div class="ui form" id="geoboteditvariables"></div></div>
        <div class="ui tab" data-tab="geobotedittab5"><div class="ui form" id="geoboteditfiles"></div></div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- Channel Sidebar
<!------------------------------------------------------------------------------------------------------>
<div class="ui wide right sidebar channeleditsidebar">
    <div class="inspectorpanel" id="channeleditpanel">
        <div class="inspectorheader" id="channeleditheader">
            edit channel
        </div>
        <div class="ui segment">
            <div class="ui two top attached buttons buttonbackground">
                <div id="savechannelbutton" class="ui basic green button">Save</div>
            </div>
        </div>
        <div class="ui secondary pointing menu" id="channeledittabs">
            <a class="item active" data-tab="channeledittab1">Main</a>
            <a class="item" data-tab="channeledittab2">Data</a>
            <a class="item" data-tab="channeledittab3">Files</a>
        </div>
        <div class="ui tab active" data-tab="channeledittab1"><div class="ui form" id="channeleditmain"></div></div>
        <div class="ui tab" data-tab="channeledittab2"><div class="ui form" id="channeleditvariables"></div></div>
        <div class="ui tab" data-tab="channeledittab3"><div class="ui form" id="channeleditfiles"></div></div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>
<!-- Experience GUI Sidebar
<!------------------------------------------------------------------------------------------------------>
<div class="ui wide right sidebar experienceguisidebar">
    <div class="inspectorpanel" id="experienceguipanel">
        <div class="inspectorheader" id="experienceguiheader">
            experience GUI
        </div>
        <div class="ui segment">
            <div class="ui two top attached buttons buttonbackground">
                <div id="saveexperienceguibutton" class="ui basic green button">Save</div>
            </div>
        </div>
        <div class="ui secondary pointing menu" id="experienceguitabs">
            <a class="item active" data-tab="experienceguitab1">Banners</a>
            <a class="item" data-tab="experienceguitab2">Map</a>
            <!-- <a class="item" data-tab="experienceguitab3">Links</a> -->
        </div>
        <div class="ui tab active" data-tab="experienceguitab1"><div class="ui form" id="experienceguimain"></div></div>
        <div class="ui tab" data-tab="experienceguitab2"><div class="ui form" id="experienceguimap"></div></div>
        <!-- <div class="ui tab" data-tab="experienceguitab3"><div class="ui form" id="experienceguilinks"></div></div> -->
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
