<!--
****************************************************************************************************************************************************************************************************
Copyright Imersia Ltd 2019
Author: Dr. Roy C. Davies
UI for the WebApp
****************************************************************************************************************************************************************************************************
-->

<!------------------------------------------------------------------------------------------------------>
<!-- The WebApp Box
<!------------------------------------------------------------------------------------------------------>
<div class="ui fulllscreen longer modal" id="webappbox" style="width:100%;padding:0px; margin:0px;">
    <div id="webappheader" class="header">
    </div>
    <div class="content" style="padding:0px; margin:0px;">
        <iframe id="webappiframe" style="top:0; left:0; width:100%; padding:0px; margin:0px;" frameborder="0" allowfullscreen src=""></iframe>
    </div>
    <div class="actions">
        <div id="webappdone" class="ui basic button blue">Done</div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
