html, body {
  overflow:hidden;
  margin: 0;
}
canvas { width: 100%; height: 100% }
html * { font-family: Arial; }

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

.hidden {
    display: none;
}

.inspectorpanel {
  padding:15px;
  margin-top: 60px;
}

.hoverbutton:hover {
    background-color: #888888;
}

.inspectorheader {
    background-color: #a2b6ff;
    padding: 10px 10px;
    height: 50px;
    font-size:1.25em;
    font-weight:normal;
    /* font-style:italic; */
    text-align:center;
    border-radius:0.3rem;
    border:1px solid rgba(34,36,38,0.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.5);
}

.selectedchannel {
    background: grey;
}

.buttonbackground {
    background-color: rgba(255, 255, 255, 0.8);
}

div.buttonselect:hover {
  background-color: rgba(100, 100, 100, 1);
  font-style:bold;
}

#popup {
    display:none; z-index:999;
    background:rgba(255, 255, 255, 0.8);
    color:#005ab9; padding:10px;
    pointer-events: none;
    border-radius: 10px;
}

#portalui {
    position: fixed;
    z-index:1001;
}

.expanded {
    width:100%;
}

#uidesktopmenu {
    border-top-width :0px;
    border-left-width :0px;
    border-right-width :0px;
    border-bottom-width: 5px;
    border-radius: 0px;
    margin-top:0px;
    margin-bottom:0px;
    /* z-index:5000; */
}

#uimobilemenu {
    border-top-width :0px;
    border-left-width :0px;
    border-right-width :0px;
    border-bottom-width: 5px;
    border-radius: 0px;
    margin-top:0px;
    margin-bottom:0px;
    /* z-index:5000; */
}

#footer {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    width:100%;
    height:5px;
    bottom:0px;
    /* z-index:1000; */
}

#footermenu {
    border-top-width :5px;
    border-left-width :0px;
    border-right-width :0px;
    border-bottom-width: 0px;
    border-radius: 0px;
}

#threedmap {
    position: fixed;
    z-index:999;
    width:100%;
}

.expertbackground {
    background-color: rgba(255, 100, 100, 0.8);
}

#imersialogo {
    width:100px;
}
#imersialogodiv {
    position: fixed;
    left:0px;
    top:70px;
    width:100px;
    z-index:1010;
}

#imersiaversiondiv {
    position: fixed;
    right:10px;
    top:70px;
    width:100px;
    width:150px;
    text-align:right;
    z-index:1010;
    color: rgba(100, 100, 100, 0.8);
    line-height: 1;

}

input[type=checkbox] {
    scale: 1.5;
}
